!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body
    .header
      .header__top-bar
        .header__top-bar__inner-top-box
          .header__top-bar__inner-top-box__logo
            %img{:alt => "", :border => "0", :height => "", :src => "https://d2hi3epuv5qhwt.cloudfront.net/assets/renewal/logo-686748a91ffe9482590e92763abebe2bf85bab570839e4410ec4a8b14a484474.svg", :width => ""}/
          .header__top-bar__inner-top-box__right-area
            .header__top-bar__inner-top-box__right-area__icon-box
              %i.fa.fa-search
              %i.fa.fa-bell-o
              = link_to "", destroy_user_session_path, method: :delete, class: 'header__top-bar__inner-top-box__right-area__icon-box__user-icon'
            .header__top-bar__inner-top-box__right-area__create-article-link
              %i.fa.fa-pencil-square-o
              .header__top-bar__inner-top-box__right-area__create-article-link__text
                ノートを投稿

        .header__top-bar__inner-bottom-box
          .header__top-bar__inner-bottom-box__category-nav
            %ul.category
              %li.top トップ
              %li.recommend おすすめ
              %li.manga マンガ
              %li.column コラム
              %li.novel 小説
              %li.picture 写真
              %li.music 音楽
          .header__top-bar__inner-bottom-box__partition
          .header__top-bar__inner-bottom-box__category-hashtag
            .header__top-bar__inner-bottom-box__category-hashtag__box
              .header__top-bar__inner-bottom-box__category-hashtag__box__manga #4コマ漫画
            .header__top-bar__inner-bottom-box__category-hashtag__box
              .header__top-bar__inner-bottom-box__category-hashtag__box__business #ビジネス
            .header__top-bar__inner-bottom-box__category-hashtag__box
              .header__top-bar__inner-bottom-box__category-hashtag__box__diary #日記
            .header__top-bar__inner-bottom-box__category-hashtag__box
              .header__top-bar__inner-bottom-box__category-hashtag__box__cafe #カフェ
            .header__top-bar__inner-bottom-box__category-hashtag__box
              .header__top-bar__inner-bottom-box__category-hashtag__box__world #海外
      .header_event-bar
        .header_event-bar__message
          noteを運営するピースオブケイクで、デザイナーを募集中！詳しくはこちら 閉じる
    .main-content
      .main-content__article-box
        .main-content__article-box__article
          .main-content__article-box__article__follow-message
            フォロー中のnote公式 さんの「noteからのお知らせ 」でノートが見られるようになりました。
          .main-content__article-box__article__user-data-box
            .main-content__article-box__article__user-data-box__icon
            .main-content__article-box__article__user-data-box__user-name
              note公式
            .main-content__article-box__article__user-data-box__data
              2017/06/28 11:06
          .main-content__article-box__article__image
            %img{:alt => "", :border => "0", :height => "", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/4646252/rectangle_large_ce9c3a5df6ec3142727c49efe420c5b9.jpg", :width => "575px"}/
          .main-content__article-box__article__message-area
            .main-content__article-box__article__message-area__title
              吉田貴司さんの人気マンガ「やれたかも委員会」が書籍化されました！
            .main-content__article-box__article__message-area__message-body
              2016年4月にnoteで発表され大きな話題となり、その後cakesで人気連載となった吉田貴司さんのマンガ「やれたかも委員会」が、6月28日に双葉社より『やれたかも委員会 1巻』として発売されました。

              『やれたかも委員会 1巻』（吉田貴司・作）

              「やれたかも委員会」は、男なら(女でも)誰にでもある「やれたかもしれない夜」を回顧し愛おしむノンフィクション的漫画です。
              「あの日、俺は…やれたのか!...
            .main-content__article-box__article__message-area__more-message
              もっとみる
            .main-content__article-box__article__message-area__hashtag-area
              .main-content__article-box__article__message-area__hashtag-area__hashtag #cakes
              .main-content__article-box__article__message-area__hashtag-area__hashtag #やれたかも委員会
              .main-content__article-box__article__message-area__hashtag-area__hashtag #吉田貴司
          .main-content__article-box__article__action-area

        .main-content__article-box__article
          .main-content__article-box__article__follow-message
            フォロー中のnote公式 さんの「noteからのお知らせ 」でノートが見られるようになりました。
          .main-content__article-box__article__user-data-box
            .main-content__article-box__article__user-data-box__icon
            .main-content__article-box__article__user-data-box__user-name
              note公式
            .main-content__article-box__article__user-data-box__data
              2017/06/28 11:06
          .main-content__article-box__article__image
            %img{:alt => "", :border => "0", :height => "", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/4646252/rectangle_large_ce9c3a5df6ec3142727c49efe420c5b9.jpg", :width => "575px"}/
          .main-content__article-box__article__message-area
            .main-content__article-box__article__message-area__title
              吉田貴司さんの人気マンガ「やれたかも委員会」が書籍化されました！
            .main-content__article-box__article__message-area__message-body
              2016年4月にnoteで発表され大きな話題となり、その後cakesで人気連載となった吉田貴司さんのマンガ「やれたかも委員会」が、6月28日に双葉社より『やれたかも委員会 1巻』として発売されました。

              『やれたかも委員会 1巻』（吉田貴司・作）

              「やれたかも委員会」は、男なら(女でも)誰にでもある「やれたかもしれない夜」を回顧し愛おしむノンフィクション的漫画です。
              「あの日、俺は…やれたのか!...
            .main-content__article-box__article__message-area__more-message
              もっとみる
            .main-content__article-box__article__message-area__hashtag-area
              .main-content__article-box__article__message-area__hashtag-area__hashtag #cakes
              .main-content__article-box__article__message-area__hashtag-area__hashtag #やれたかも委員会
              .main-content__article-box__article__message-area__hashtag-area__hashtag #吉田貴司
          .main-content__article-box__article__action-area
    .footer