- if user_signed_in?
  = render 'home.html'
- else

  !!!
  %html{lang: "ja"}
    %head
      %meta{charset: "utf-8"}
    %body
      .header
        .header__top-bar
          .header__top-bar__inner-top-box
            .header__top-bar__inner-top-box__logo
              %img{:alt => "", :border => "0", :height => "", :src => "https://d2hi3epuv5qhwt.cloudfront.net/assets/renewal/logo-686748a91ffe9482590e92763abebe2bf85bab570839e4410ec4a8b14a484474.svg", :width => ""}/
            .header__top-bar__inner-top-box__right-area
              .header__top-bar__inner-top-box__right-area__login
                = link_to "ログイン", new_user_session_path
              .header__top-bar__inner-top-box__right-area__partition /
              .header__top-bar__inner-top-box__right-area__signup
                = link_to "新規登録", new_user_registration_path
              %i.fa.fa-search

          .header__top-bar__inner-bottom-box
            .header__top-bar__inner-bottom-box__category-nav
              %ul.category
                %li.recommend おすすめ
                %li.manga マンガ
                %li.column コラム
                %li.novel 小説
                %li.picture 写真
                %li.music 音楽
            .header__top-bar__inner-bottom-box__partition
            .header__top-bar__inner-bottom-box__category-hashtag
              .header__top-bar__inner-bottom-box__category-hashtag__box
                .header__top-bar__inner-bottom-box__category-hashtag__box__manga #4コマ漫画
              .header__top-bar__inner-bottom-box__category-hashtag__box
                .header__top-bar__inner-bottom-box__category-hashtag__box__business #ビジネス
              .header__top-bar__inner-bottom-box__category-hashtag__box
                .header__top-bar__inner-bottom-box__category-hashtag__box__diary #日記
              .header__top-bar__inner-bottom-box__category-hashtag__box
                .header__top-bar__inner-bottom-box__category-hashtag__box__cafe #カフェ
              .header__top-bar__inner-bottom-box__category-hashtag__box
                .header__top-bar__inner-bottom-box__category-hashtag__box__world #海外

      .main-content
        .main-content__article-box
          .main-content__article-box__index_article
            .main-content__article-box__index_article__user-data-box
              .main-content__article-box__index_article__user-data-box__icon
              .main-content__article-box__index_article__user-data-box__user-name
                マヨネーズ
            .main-content__article-box__index_article__message-area
              .main-content__article-box__index_article__message-area__text-box
                .main-content__article-box__index_article__message-area__text-box__title
                  うまい
                .main-content__article-box__index_article__message-area__text-box__message-body
                  こんな夢を見た。 青の見えない、一面灰色の空。肌を湿らす程度の小雨を浴びながら街中を歩いていると、黒い傘を差した女性が道の先に幾人かいる。一人、二人、三人とすれ違っていくのは、傘ではっきりと
              .main-content__article-box__index_article__image
                %img{:alt => "", :border => "0", :height => "130px", :src => "https://rr.img.naver.jp/mig?src=http%3A%2F%2Fimgcc.naver.jp%2Fkaze%2Fmission%2FUSER%2F20150509%2F74%2F7197594%2F3%2F240x240xb6699f58241098d6606d727c.jpg%2F300%2F600&twidth=300&theight=600&qlt=80&res_format=jpg&op=r", :width => "130px"}/
          .main-content__article-box__index_article
            .main-content__article-box__index_article__user-data-box
              .main-content__article-box__index_article__user-data-box__icon
              .main-content__article-box__index_article__user-data-box__user-name
                とんかつソース
            .main-content__article-box__index_article__message-area
              .main-content__article-box__index_article__message-area__text-box
                .main-content__article-box__index_article__message-area__text-box__title
                  濃い
                .main-content__article-box__index_article__message-area__text-box__message-body
                  こんな夢を見た。 青の見えない、一面灰色の空。肌を湿らす程度の小雨を浴びながら街中を歩いていると、黒い傘を差した女性が道の先に幾人かいる。一人、二人、三人とすれ違っていくのは、傘ではっきりと
              .main-content__article-box__index_article__image
                %img{:alt => "", :border => "0", :height => "130px", :src => "https://www.bulldog.co.jp/common/upload/product/20170124170330_1485245010819.jpg", :width => "130px"}/

          .main-content__article-box__index_article
            .main-content__article-box__index_article__user-data-box
              .main-content__article-box__index_article__user-data-box__icon
              .main-content__article-box__index_article__user-data-box__user-name
                ケチャップ
            .main-content__article-box__index_article__message-area
              .main-content__article-box__index_article__message-area__text-box
                .main-content__article-box__index_article__message-area__text-box__title
                  トマト
                .main-content__article-box__index_article__message-area__text-box__message-body
                  こんな夢を見た。 青の見えない、一面灰色の空。肌を湿らす程度の小雨を浴びながら街中を歩いていると、黒い傘を差した女性が道の先に幾人かいる。一人、二人、三人とすれ違っていくのは、傘ではっきりと
              .main-content__article-box__index_article__image
                %img{:alt => "", :border => "0", :height => "130px", :src => "http://www.kagome.co.jp/products/food/img/product/2803_b1.jpg", :width => "130px"}/

          .main-content__article-box__index_article
            .main-content__article-box__index_article__user-data-box
              .main-content__article-box__index_article__user-data-box__icon
              .main-content__article-box__index_article__user-data-box__user-name
                タバスコ
            .main-content__article-box__index_article__message-area
              .main-content__article-box__index_article__message-area__text-box
                .main-content__article-box__index_article__message-area__text-box__title
                  辛い
                .main-content__article-box__index_article__message-area__text-box__message-body
                  こんな夢を見た。 青の見えない、一面灰色の空。肌を湿らす程度の小雨を浴びながら街中を歩いていると、黒い傘を差した女性が道の先に幾人かいる。一人、二人、三人とすれ違っていくのは、傘ではっきりと
              .main-content__article-box__index_article__image
                %img{:alt => "", :border => "0", :height => "130px", :src => "https://www.pizza-la.co.jp/ItemImage/600x416/0002267.jpg", :width => "130px"}/

          .main-content__article-box__image-only-article
            .main-content__article-box__image-only-article__left
              .main-content__article-box__image-only-article__left_user-data-box
                .main-content__article-box__image-only-article__left__user-data-box__icon
                .main-content__article-box__image-only-article__left__user-data-box__user-name sample
              .main-content__article-box__image-only-article__left__image-box
                .main-content__article-box__image-only-article__left__image-box__image
                  %img{:alt => "", :border => "0", :height => "240px", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/4654093/picture_pc_182b53cae598dfe94e9f2d83dcdc4ead.jpg", :width => "240px"}/

            .main-content__article-box__image-only-article__right
              .main-content__article-box__image-only-article__right_user-data-box
                .main-content__article-box__image-only-article__right__user-data-box__icon
                .main-content__article-box__image-only-article__right__user-data-box__user-name sample
              .main-content__article-box__image-only-article__right__image-box
                .main-content__article-box__image-only-article__right__image-box__image
                  %img{:alt => "", :border => "0", :height => "240px", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/4652997/picture_pc_c7e4dceae4bc0831a4d65dd2aa1518f8.jpg", :width => "240px"}/
      .footer